<div class="container">
    <img src="https://www.freepnglogos.com/uploads/burger-png/burger-png-png-images-yellow-images-12.png"
        alt="" class="img-fluid rounded mx-auto d-block" style="max-width: 50%;">
    <div class="row">
        <div class="col-md-6">
                <h2>Yummy, yummy burgers</h2>
            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                <li>{{this.burger_name}} <button class="btn btn-outline-secondary devour-btn m-1"
                        data-id="{{this.id}}">Devour</button></li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-md-6">
                <h2>Look what I ate!</h2>
            <ol>
                {{#each burgers}}
                {{#if this.devoured}}
                <li>{{this.burger_name}} <button class="btn btn-outline-secondary delete-btn m-1"
                        data-id="{{this.id}}">Remove</button>
                </li>

                {{/if}}
                {{/each}}
            </ol>

        </div>
    </div>
    <form action="/api/burgers" method="POST">
        <div class="form-group">
            <label for="burger_name">Add a new burger!</label>
            <input type="text" class="form-control" name="burger_name" id="burger_name" placeholder="Burger name...">
            <button type="submit" class="btn btn-primary m-1">Add Burger</button>
        </div>
    </form>
</div>